<nav class="bg-gray-700 shadow-xl">
  <div class="container mx-auto px-4">
    <div class="flex items-center justify-between h-16">
      <div class="flex items-center">
        <a href="#" class="text-white font-bold text-lg">Website Name</a>
      </div>

      <!-- 
      <div class="flex">
        <a href="#" class="text-gray-300 hover:text-white px-3 py-2 rounded-md">About</a>
      </div> 
      -->
    </div>
  </div>
</nav>

<div class="py-12 w-fit mx-auto">
  <div class="grid grid-cols-3">
    <app-us-map class="col-span-2 m-2 p-4 rounded-lg shadow-lg bg-gray-50"></app-us-map>
    <app-job-network class="m-2 p-4 rounded-lg shadow-lg bg-gray-50"></app-job-network>
    <app-compare class="col-span-2 m-2 p-4 rounded-lg shadow-lg bg-gray-50"></app-compare>
    <app-legend class="m-2 p-4 rounded-lg shadow-lg bg-gray-50"></app-legend>
  </div>
</div>