<div class="relative h-full">
  <div *ngIf="app.selectedOccupation" class="absolute top-2 left-2 flex items-center bg-gray-200 rounded-lg px-2 py-0">
    <span [title]="app.selectedOccupation.description" class="text-sm font-bold">
      {{ app.selectedOccupation.title }}
    </span>
    <span class="text-gray-300 hover:text-red-500 cursor-pointer gg-close"
      (click)="app.setSelectedOccupation(null)"></span>
  </div>
  <span class="absolute top-3 right-3 flex flex-col">
    <div class="flex items-center justify-end gap-2">
      <input *ngIf="search" [(ngModel)]="searchKey" class="border border-gray-200 px-1 text-sm"
        placeholder="Search for an occupation" size="30" (keyup)="filter($event)" autofocus />
      <span *ngIf="search" class="gg-close text-gray-300 hover:text-red-500 cursor-pointer"
        (click)="search = false"></span>
      <div *ngIf="!search" style="padding: 7px 0;">
        <span class="gg-search text-gray-300 hover:text-black cursor-pointer" (click)="search = true"></span>
      </div>
    </div>
    <div *ngIf="filtered.length" class="bg-gray-200 px-2 pt-1 rounded-md text-xs flex flex-col"
      style="max-height: 10rem; overflow-y: auto;">
      <span *ngFor="let occupation of filtered; let i = index;" class="cursor-pointer hover:font-bold mb-1"
        [ngClass]="{ 'font-semibold': i == searchIndex }" (click)="select(occupation.id);">
        {{ occupation.title }}
      </span>
    </div>
  </span>

  <div #container class="h-full"></div>
  <div *ngIf="legendColorNames" class="absolute bottom-2 right-3 flex items-center text-xs">
    <span class="font-bold">Occupation Type:</span>
    <span *ngFor="let type of legendTypes" class="ml-2">
      <span [ngStyle]="{ 'color': legendColorNames[type] }">●</span>
      <span> {{ type }}</span>
    </span>
  </div>
</div>